:root {
  --clr-bg: #fff;
  --clr-primary: #144272;
  --clr-secondary: #54595F;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  outline: none;
}

body {
  min-height: 100vh;
  background: var(--clr-bg);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}